{% extends 'index.html' %}
{% block content %}
    <div>
        <table class="table" border=1>
            <thead class="thead-dark">
            <tr>
                <th>Cin</th>
                <th>Name</th>
                <th>Image</th>
                <th>Recherché</th>
                <th>Amende</th>
                <th>Pénalité</th>
            </tr>
            </thead>
            <tbody>
            {% for cit in citoyens%}
            <tr>
                <td>{{cit.cin}}
                </td>
                <td>{{cit.name}}</td>
                <td><img class="masthead-avatar mb-5" src="/static/{{cit.image}}" height="70" width="70" /></td>
                <td>{{cit.etat}}</td>
            
            {%endfor%}
            {% for citf in citoyenf%}
                <td>{{citf.amende}}</td>
                <td>{{citf.pinalité}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</body>
{%endblock%}